<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{% block title %}{% endblock %} - s2w.m.ac.nz</title>
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
  {% block head %}{% endblock %}
</head>
<body>
<div id="loginbox">
  {% if not user %}
    <a href="{{login_url}}">Sign In</a>
  {% else %}
    <a href="{{logout_url}}">Sign Out</a>
  {% endif %}
</div>
{% block body %}{% endblock %}
</body>
</html>
